<!DOCTYPE HTML>
  <html>
  <head>
  <title>audio with image</title>
  </head>
  <body>

    <script>
  function play(){
       var audio = document.getElementById("audio");
       audio.play();
                 }
   </script>

<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZE0xv_qn9dTm5s1JWY0Df-Yi_p5dQriEwQXvKyCjIu3HIBhU53hxnkt1-QGKeBeBkHhECkAHYu4yGhx1xOZeR6PabEJ-MBPf0=w1366-h599" onclick="play()">
<audio id="audio" src="https://audio.jukehost.co.uk/mSJ4BlOrycWgVxf2OICJFOvS0TdZDv3d" ></audio>
 </body>
 </html>